target/
project/target
bin/
logs/
.cache
.classpath
.project
/bin/
.idea/
*.iml
hs_err*.log
node_modules/
dist/
.ensime
.ensime_cache/
npm-debug.log
lib/*.js
lib/*.js.map
lib/**/*.js
lib/**/*.js.map
test/*.js
test/*.js.map
test/**/*.js
test/**/*.js.map
